# WHO COVID-19 Data Analysis

## Importing Libraries

In [38]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
from datetime import datetime, timedelta
import matplotlib.dates as mdates 
import plotly.graph_objs as go

## Load Datasets

In [6]:
total_cases_df = pd.read_csv("./who_data/total_cases.csv")
total_deaths_df = pd.read_csv("./who_data/total_deaths.csv")
new_cases_df = pd.read_csv("./who_data/new_cases.csv")
new_deaths_df = pd.read_csv("./who_data/new_deaths.csv")

## Exploring Total Cases

In [28]:
# Examine the dataset 
total_cases_df.head()

,date,Worldwide,Afghanistan,Albania,Algeria,Andorra,Argentina,Armenia,Australia,Austria,...,Thailand,Togo,Tunisia,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Vatican,Vietnam
0,2020-01-21,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-22,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-23,581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,2020-01-24,846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0
4,2020-01-25,1320,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,4,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0

In [29]:
# Numerical Summary 
total_cases_df.describe()

,Worldwide,Afghanistan,Albania,Algeria,Andorra,Argentina,Armenia,Australia,Austria,Azerbaijan,...,Thailand,Togo,Tunisia,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Vatican,Vietnam
count,52.000000,17.000000,4.000000,16.000000,10.0,9.000000,11.0,48.0000,16.000000,12.000000,...,52.000000,6.0,10.000000,1.0,9.0,44.000000,41.000000,50.000000,6.0,49.000000
mean,54497.846154,2.058824,6.000000,9.937500,1.0,8.222222,1.0,27.1250,66.000000,6.000000,...,30.807692,1.0,2.200000,1.0,1.0,17.227273,58.292683,81.160000,1.0,14.142857
std,38340.152995,1.819017,4.618802,8.820195,0.0,7.224572,0.0,27.4037,83.361062,3.133398,...,15.634349,0.0,2.043961,NaN,0.0,17.861045,111.195603,179.221487,0.0,7.986969
min,282.000000,1.000000,2.000000,1.000000,1.0,1.000000,1.0,3.0000,2.000000,3.000000,...,2.000000,1.0,1.000000,1.0,1.0,4.000000,2.000000,1.000000,1.0,2.000000
25%,16682.500000,1.000000,2.000000,1.000000,1.0,1.000000,1.0,13.7500,8.750000,3.000000,...,19.000000,1.0,1.000000,1.0,1.0,7.000000,8.000000,11.000000,1.0,10.000000
50%,51218.500000,1.000000,6.000000,8.500000,1.0,9.000000,1.0,15.0000,30.500000,6.000000,...,34.000000,1.0,1.000000,1.0,1.0,9.000000,9.000000,15.000000,1.0,16.000000
75%,84089.750000,4.000000,10.000000,17.750000,1.0,12.000000,1.0,24.2500,106.000000,9.000000,...,40.500000,1.0,2.000000,1.0,1.0,19.500000,36.000000,61.250000,1.0,16.000000
max,125048.000000,7.000000,10.000000,25.000000,1.0,19.000000,1.0,122.0000,302.000000,9.000000,...,70.000000,1.0,6.000000,1.0,1.0,74.000000,460.000000,987.000000,1.0,39.000000

In [35]:
# Missing data check 
total_cases_df.isnull().sum()

date                     0
Worldwide                0
Afghanistan             35
Albania                 48
Algeria                 36
                        ..
United Arab Emirates     8
United Kingdom          11
United States            2
Vatican                 46
Vietnam                  3
Length: 121, dtype: int64

In [37]:
# Data Cleaning 
cols = total_cases_df.keys()
print(cols)

Index(['date', 'Worldwide', 'Afghanistan', 'Albania', 'Algeria', 'Andorra',
       'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Thailand', 'Togo', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Vatican',
       'Vietnam'],
      dtype='object', length=121)

## WHO Data Sources 
- Total Confirmed Cases: https://cowid.netlify.com/data/total_cases.csv
- Total Deaths Cases: etlify.com/data/total_deaths.csv
- New Cases:https://cowid.netlify.com/data/new_cases.csv
- New Deaths Cases: https://cowid.netlify.com/data/new_deaths.csv
- Full Dataset: http://cowid.netlify.com/data/full_data.csv

In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>